<h1 class="page-header pt-5"> Address Details</h1>
<hr class="">

<div class="search-box-div">
  <input [(ngModel)]="searchbar" class="search-box" placeholder="Enter the value to be searched">
</div>

<table class="address-table" style="width: 100%;">
  <thead>
    <td>Address</td>
    <td>City</td>
    <td>State</td>
    <td>Zip</td>
    <td>Frequency</td>
  </thead>
  <tbody *ngIf="addressDetails  else noContent">
    <ng-container *ngFor="let detail of addressDetails | detailssearch: searchbar">
      <tr *ngIf="detail">
        <td>
          {{detail.address}}
        </td>
        <td>
          {{detail.city}}
        </td>
        <td>
          {{detail.state}}
        </td>
        <td>
          {{detail.zip}}
        </td>
        <td>
          {{detail.frequency}}
        </td>
      </tr>
    </ng-container>
  </tbody>
  <ng-template #noContent>
    <tr>
      <td colspan="5">
        No elements found.....
      </td>
    </tr>
  </ng-template>
</table>
